[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
	ignore = dirty
[submodule "external/fpng"]
	path = external/fpng
	url = https://github.com/Stehfyn/fpng
        ignore = dirty
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/Stehfyn/glew
	ignore = dirty
